<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gun.board.dao.CustomerDAO">
   <insert id="insertCustomer">
      insert into
      board_customer(cus_id,cus_pw,cus_gender,cus_nickname,cus_question,cus_answer,cus_bank,cus_account,cus_zip_code,cus_addr,cus_tel)
      values(
      #{cus_id},#{cus_pw},#{cus_gender},#{cus_nickname},#{cus_question},#{cus_answer},#{cus_bank},#{cus_account},#{cus_zip_code},#{cus_addr},#{cus_tel}
      )
   </insert>

   <select id="selectCustomer" resultType="Customer">
      select * from
      board_customer where cus_id=#{cus_id}
   </select>

	<select id="selectAllCustomer" resultType="Customer">
		select * from board_customer
	</select>

   <select id="selectNickname" resultType="string">
      select cus_nickname from
      board_customer where cus_id=#{cus_id}
   </select>

   <select id="findPassword" parameterType="Customer" resultType="String">
      select cus_pw from board_customer where cus_id=#{cus_id} and
      cus_question=#{cus_question}
      and cus_answer=#{cus_answer}
   </select>
   <!-- 회원가입 이미지 삽입 -->
   <insert id="insertPhoto">
      insert into board_cus_file(board_num, board_fileid,board_uploadfileid,cus_id)
      values( board_file_seq.NEXTVAL , #{board_fileid}, #{board_uploadfileid}, #{cus_id} )
   </insert>
   
   <select id="getPhoto" resultType="Customer">
        select*from board_customer left join board_cus_file on board_customer.cus_id=board_cus_file.cus_id
        where board_customer.cus_id =#{cus_id}
   </select>
   
      
   <update id="updatePhoto">
      update board_cus_file set board_fileid=#{board_fileid}, board_uploadfileid=#{board_uploadfileid}
      where cus_id=#{cus_id}
   </update>
   
   
   <select id="joinIdCheck" resultType="int" parameterType="String">
   
    select count(*) from board_customer where cus_id = #{cus_id}
    
   </select>
   
   <select id="passChk" resultType="int">
      select count(*) from board_customer
      where cus_id = #{cus_id}
      and   cus_pw = #{cus_pw}
   </select>
   

   <delete id="deleteCustomer">
      delete from board_customer where cus_id=#{cus_id}
   </delete>
   
   <update id="updateCustomer">
      UPDATE board_customer SET
      cus_id = #{cus_id},
      cus_pw = #{cus_pw},
      cus_gender = #{cus_gender},
      cus_nickname = #{cus_nickname},
      cus_question = #{cus_question},
      cus_answer = #{cus_answer},
      cus_bank = #{cus_bank},
      cus_account = #{cus_account},
      cus_zip_code = #{cus_zip_code},
      cus_addr = #{cus_addr},
      cus_tel = #{cus_tel}
      where cus_id=#{cus_id}
   </update>
   
   
</mapper>