<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gun.board.dao.NoticeDAO">
   <insert id="insertBoard">
      insert into
      board_notice(board_num, board_no_title, board_no_content, board_no_id, board_no_nickname)
      values(
      BOARD_NOTICE_SEQ.NEXTVAL, #{board_no_title}, #{board_no_content}, #{board_no_id}, #{board_no_nickname}
      
      )
      
   </insert>

   <select id="getBoards" resultType="Notice" parameterType="Map">
      select * from board_notice 
      order by board_no_date DESC
   </select>

   <select id="getBoard" resultType="Notice">
      select*from board_notice 
  	  where board_num=#{board_num}
   </select>

   <delete id="deleteBoard">
      delete from board_notice where board_num=#{board_num}
   </delete>
   
   <update id="countUp">
      update board_notice set board_no_seq=board_no_seq+1
      where board_num=#{board_num}
   </update>

   <update id="updateBoard">
      update board_notice set board_no_title=#{board_no_title},
      board_no_content=#{board_no_content}
      where
      board_num=#{board_num}
   </update>
   
<!-- 게시글 조회 home용  -->
   <select id="getNotice_home" resultType="Notice" parameterType="List">
      
      select  * from (select * from board_notice order by board_no_date desc)
      <![CDATA[where rownum <= 5]]>
      
   </select>
   
   <select id="findNotice" parameterType="Map" resultType="Notice">
      select * from board_notice
      <choose>

         <when test="searchType=='board_no_title'">
            where board_no_title like
            '%' || #{searchContent} || '%'
         </when>
         <when test="searchType=='board_no_content'">
            where board_no_content like
            '%' || #{searchContent} || '%'
         </when>
         <when test="searchType=='board_no_nickname'">
            where board_no_nickname like
            '%' || #{searchContent} || '%'
         </when>
         <when test="searchType=='all'">
            where board_no_nickname like
            '%' || #{searchContent} || '%'
            or
            board_no_title like
            '%' || #{searchContent} || '%'
            or
            board_no_content like
            '%' || #{searchContent} || '%'
            
         </when>
         
         
      </choose> 
   </select>
   
   
</mapper>